<!DOCTYPE html>
<html>
<head>
    <title>Panel de Control</title>
</head>
<body>
    <h1>Panel de Control</h1>
    <a href="/api/farms">Ver fincas</a>
    <a href="/api/livestock">Ver ganado</a>
</body>
</html>