<!DOCTYPE html>
<html>
<head>
    <title>Sistema Agropecuario</title>
</head>
<body>
    <h1>Bienvenido al Sistema de Control Agropecuario</h1>
    <a href="/login">Iniciar Sesión</a>
    <a href="/register">Registrarse</a>
</body>
</html>